{% extends 'base.html' %}
{% load staticfiles %}

{% block extrahead %}
<link href="{% static "global/chosen/public/chosen.css" %}"         rel="stylesheet">
<link href="{% static "global/chosen/public/chosen.jquery.css" %}"  rel="stylesheet">
<link href="{% static "users/css/forms.css" %}"                     rel="stylesheet">
{% endblock extrahead %}

{% block content %}

{% include 'accounts-header.html' %}

{# {% include 'form-top.html'%} #}
<div class="area">
<form id="profile-form" class="form-horizontal" method="post" action="" enctype="multipart/form-data"> {% csrf_token %}
      <fieldset>
      	{% if form.errors %}
        <div class="controls">
            <div class="errors main-errors">Please correct the following fields</div>
        </div>
        {% endif %}
          {% include 'profile-fields.html' %}
          <div class="controls">
            <input type='button' id='submit-button' class="btn btn-success" value="Save">
        </div>
        <input type='submit' value="Hidden Submit" style="display: none;">
        </fieldset> 
    </form>
</div>
{% endblock content %}

{% block extrascripts %}
<script src="{% static "users/js/userfx.js" %}"></script>  
<script src="{% static "users/js/coordinates.js" %}"></script>            
{% endblock extrascripts %}