        
     {% comment %}
                
        {% for key, value in form.errors.items %}
            {{ key }} = {{ value }}
        {% endfor %}
            {% endcomment %}       
        

        <div class="control-group">
            {% if form.given_name.errors %}
            <div class="errors controls"> 
                {{ form.given_name.errors }} 
            </div> 
            {% endif %}
            <label {% if form.given_name.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label">First Name:</label>
            <div class="controls">
                {{ form.given_name }}
            </div>
        </div>

        <div class="control-group">
            {% if form.family_name.errors %}
            <div class="errors controls"> 
                {{ form.family_name.errors }} 
            </div> 
            {% endif %}
            <label {% if form.family_name.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label">Last Name:</label>
            <div class="controls">
                {{ form.family_name }}
            </div>
        </div>

        <div class="control-group">
            {% if form.title.errors %}
            <div class="errors controls"> 
                {{ form.title.errors }} 
            </div> 
            {% endif %}
            <label {% if form.title.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label">Title:</label>
            <div class="controls">
                {{ form.title }}
            </div>
        </div>

        <div class="control-group">
            {% if form.company_name.errors %}
            <div class="errors controls"> 
                {{ form.company_name.errors }} 
            </div> 
            {% endif %}
            <label {% if form.company_name.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label"><span class="mandatory {% if user.get_profile.user_type == 'Developer' %}hidden{% endif %}"
             id="charity-mandatory">* </span><span id="charity-label">
            {% if user.get_profile.user_type == 'Developer' %}
                Company Name:
            {% else %}
                Charity Name:
            {% endif %}
            </span></label>
            <div class="controls">
                {{ form.company_name }}
            </div>
        </div>

        <div class="control-group">
            {% if form.www.errors %}
            <div class="errors controls"> 
                {{ form.www.errors }} 
            </div> 
            {% endif %}
            <label {% if form.www.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label">www:</label>
            <div class="controls">
                {{ form.www }}
            </div>
        </div>

        <div class="control-group">
            {% if form.country.errors %}
            <div class="errors controls"> 
                {{ form.country.errors }} 
            </div> 
            {% endif %}
            <label {% if form.country.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label"><span class="mandatory">*</span> Country:</label>
            <div class="controls">
                {{ form.country }}
            </div>
        </div>

        <div class="control-group">
            {% if form.state.errors %}
            <div class="errors controls"> 
                {{ form.state.errors }} 
            </div> 
            {% endif %}
            <label {% if form.state.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label"><span class="mandatory">*</span> State:</label>
            <div class="controls">
                {{ form.state }}
            </div>
        </div>

        <div class="control-group">
            {% if form.city.errors %}
            <div class="errors controls"> 
                {{ form.city.errors }}<br>
            </div> 
            {% endif %}
            <label {% if form.city.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label"><span class="mandatory">*</span> City:</label>
            <div class="controls">
                {{ form.city }}
                <div class="mapquest-form">Geocoding Powered by: <a href="//www.mapquest.com">MapQuest</a></div>
            </div>
        </div>

        <div id="lat_div" class="control-group hidden">
            {% if form.lat.errors %}
            <div class="errors controls"> 
                {{ form.lat.errors }} 
            </div> 
            {% endif %}
            <label {% if form.lat.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label">Latitude:</label>
            <div class="controls">
                {{ form.lat }}
            </div>
        </div>

            {% if form.lon.errors %}
            <div class="errors controls"> 
                {{ form.lon.errors }} 
            </div> 
            {% endif %}
        <div id="lon_div" class="control-group hidden">
            <label {% if form.lon.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label">Longitude:</label>
            <div class="controls">
                {{ form.lon }}
            </div>
        </div>

        <div class="control-group">
            {% if form.logo.errors %}
            <div class="errors controls"> 
                {{ form.logo.errors }} 
            </div> 
            {% endif %}
            <label {% if form.logo.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label">Logo:</label>
            <div id="image_upload" class="controls">
                {{ form.logo }}
            </div>
        </div>

        {% if not user.is_authenticated or user.get_profile.user_type == 'Developer' %}
            <div id="skills_div" class="control-group">
                {% if form.skills.errors %}
                <div class="errors controls"> 
                    {{ form.skills.errors }} 
                </div> 
                {% endif %}
                <label {% if form.skills.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
                for="" class="control-label">Skills:</label>
                <div class="controls">
                    {{ form.skills }}
                </div>
            </div>
        {% endif %} 

        <div class="control-group">
            {% if form.description.errors %}
            <div class="errors controls"> 
                {{ form.description.errors }} 
            </div> 
            {% endif %}
            <label {% if form.description.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label">Description:</label>
            <div class="controls">
                {{ form.description }}
                <div id="remainingC">1000 / 1000</div>
            </div>
        </div>
        
        {% if not user.is_authenticated or user.get_profile.user_type == 'Developer' %}
        <div class="control-group" id="allow-contact-div">
            {% if form.allow_contact.errors %}
            <div class="errors controls"> 
                {{ form.allow_contact.errors }} 
            </div> 
            {% endif %}
            <label {% if form.allow_contact.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label">Allow Contact:</label>
            <div class="controls">
                {{ form.allow_contact }}
            </div>
        </div>
        {% endif %}
        
        {% if not user.is_authenticated %}
        <div class="control-group">
            {% if form.accept_t_and_c.errors %}
            <div class="errors controls"> 
                {{ form.accept_t_and_c.errors }} 
            </div> 
            {% endif %}
            <label {% if form.accept_t_and_c.errors %} class="control-label errors" {% else %} class="control-label" {% endif %}
            for="" class="control-label"><span class="mandatory">*</span> Accept <a target="_blank" href="{% url 't-and-c' %}">Terms and Conditions</a>:</label>
            <div class="controls">
                {{ form.accept_t_and_c }}
            </div>
        </div>
        {% endif %}

        <div class="controls">
                <input type='button' id='submit-button' class="btn btn-success" value="Save">
        </div>
        <input type='submit' value="Hidden Submit" style="display: none;">
        
        
