{% extends 'base_main_forms.html' %}

{% block main_forms_content %}
<div class="area">
	<form id="profile-form" class="form-horizontal" method="post" action="" enctype="multipart/form-data"> 
		{% csrf_token %}
		<fieldset>
			{% if form.errors %}
			<div class="controls">
				<div class="errors main-errors">Please correct the following fields</div>
			</div>
			{% endif %}
			{% include 'user_fields.html' %}
			{% include 'profile_fields.html' %}
			<div class="controls">
				<input type='button' id='submit-button' class="btn btn-success" value="Save">
			</div>
			<input type='submit' value="Hidden Submit" style="display: none;">
		</fieldset> 
	</form>
</div>
{% endblock main_forms_content %}
