{% extends 'base.html' %}
{% load staticfiles %}

{% block extrahead %}
<link href="{% static "global/chosen/public/chosen.css" %}" rel="stylesheet">
<script src="{% static "global/chosen/public/chosen.jquery.js" %}"></script>
<link href="{% static "users/css/forms.css" %}" rel="stylesheet">
{% endblock extrahead %}

{% block content %}

<div class="area">
	<form id="profile-form" class="form-horizontal" method="post" action="" enctype="multipart/form-data"> 
		{% csrf_token %}
		<fieldset>
			{% if form.errors %}
			<div class="controls">
				<div class="errors main-errors">Please correct the following fields</div>
			</div>
			{% endif %}
			{% include 'user-fields.html' %}
			{% include 'profile-fields.html' %}
			<div class="controls">
				<input type='button' id='submit-button' class="btn btn-success" value="Save">
			</div>
			<input type='submit' value="Hidden Submit" style="display: none;">
		</fieldset> 
	</form>
</div>
{% endblock content %}

{% block extrascripts %}
<script src="{% static "projects/js/chosen-activate.js" %}"></script>
<script src="{% static "users/js/userfx.js" %}"></script>       
<script src="{% static "users/js/coordinates.js" %}"></script>       
{% endblock extrascripts %}