{% extends "base.html" %}

{% block content %}
{% include 'accounts-header.html' %}

<form class="form-horizontal" action="" method="post">{% csrf_token %}
    <div>
        set errors properly for all old and new forms
        {% if form.errors %}
        <div class="errors">
            Please correct the error below.
        </div>
        {% endif %}

        <h1>Password change</h1>

        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

        <fieldset>

            <div class="control-group">
                {{ form.old_password.errors }}
                <label for="id_old_password" class="control-label">Old password:</label>
                <div class="controls">
                    {{ form.old_password }}
                </div>
            </div>

            <div class="control-group">
                {{ form.new_password1.errors }}
                <label for="id_new_password1" class="control-label">New password:</label>
                <div class="controls">
                    {{ form.new_password1 }}   
                </div>
            </div>

            <div class="control-group">
                {{ form.new_password2.errors }}
                <label for="id_new_password2" class="control-label">Password (again):</label>
                <div class="controls">
                    {{ form.new_password2 }}
                </div>
            </div>

        </fieldset>

        <div class="controls">
            <input type="submit" value='Change my password' class="btn btn-success" />
        </div>

        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </div>
</form></div>

{% endblock content %}
