{% extends 'base_main_pages.html' %}
{% load staticfiles %}

{% block extrahead_level3 %}
    <link href="{% static "global/mobile_css/m_i_want_to_help.css" %}"             rel="stylesheet" />
{% endblock extrahead_level3 %}

{% block sidebar_content %}
    {% include 'search_form_fields.html' %}
{% endblock sidebar_content %}

{% block main_extra_content %}
<div class="main-content" id="tabs">
	<ul class="nav nav-tabs">
     <li id="info-li"><a href="#info-div">What Can You Do To Help</a></li>
     <li id="search-li"><a href="#search-results">Search Results</a></li>
   </ul>
  <div id="info-div">
  	<p>Do you believe that technology can change the world? We do, and we'd like to help you get involved. We cater to a variety of charities with needs ranging from complicated applications to simple websites. So whether you are a seasoned software developer, a budding programming genius, or even a team of developers, you've come to the right place. And our integration with social media will enable you to publish your work, helping not only to increase awareness of our charity projects, but also to build your CV and online presence.</p>

    <p>
      To get an idea of the types of projects we currently have available, use the search bar on the left. To be able to offer your help, you will need to register yourself as a developer <a href="{% url 'register' %}">here</a>.
    </p>
  </div>
  <div id="search-results">
  	Search results will appear here.
  	<!-- filled with ajax -->
  </div>
</div>
  <div id="search-url" rel="{% url "search-projects" %}" ></div> <!-- needed for js -->
  <script src="{% static "global/js/project-search.js" %}"></script>
{% endblock main_extra_content %}