#login-wrapper {
	margin-top: 30px;
}

.form-heading {
	width: -webkit-calc(100% - 200px);
	width: -moz-calc(100% - 200px);
	width: calc(100% - 200px);
}

.control-label {
	width: 120px !important;
}

.my-controls {
	margin-left: 140px !important;
}

#forgot-password {
	padding-left: 0px;
}

#reg-forms {
	padding-top: 20px;
}

#skills-register {
	width: 210px !important;
}

#volunteer {
	min-height: -webkit-calc(100% - 300px);
	min-height: -moz-calc(100% - 300px);
	min-height: calc(100% - 300px);
}