#seeking-help-wrapper {
	overflow: hidden;
	min-height: -webkit-calc(100% - 40px);
	min-height: -moz-calc(100% - 40px);
	min-height: calc(100% - 40px);
}

#search-form {
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
}

#seeking-help-contents {
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
}

.my-visible {
	display: block;
}

.my-invisible {
	display: none;
}

#search-form > ul > li {
	margin-bottom: 20px;
}

.upload-project-hr {
	margin: 5px 0px;
}

.search-help {
	margin-left: 0px;
}

.search-help > #skill_upload_chzn {
	min-width: 206px !important;
}

#upload-description {
	width: -webkit-calc(80%);
	width: -moz-calc(80%);
	width: calc(80%);
}

#radius-search-volunteers {
	width: 206px;
}

#volunteer-search-results > h4 {
	margin-top: 7px;
}

#volunteer-search-results {
	padding: 10px;
	box-sizing: border-box;
}

.dev-profile {
	margin-top: 10px;
	border: 1px solid #999999;
	padding: 10px;
	box-sizing: border-box;
}