{% if notifications %}
    
{% for noti in notifications %}
    <div class="search-wrapper">
        <div class="status-wrapper-div">
            <a href="{% url 'charity-details' pk=noti.sender.id %}">
                {{ noti.sender }}
            </a>
             has <div class="{{ noti.request.status }} status">{{ noti.request.status }}</div> your request to help with 
             <a href="{% url 'project-details' pk=noti.request.project.id %}">
                {{ noti.request.project.title }}
            </a>
        </div> 
        <p>
            Sent: {{ noti.time_created }}
        </p>
    </div>
{% endfor %}
{% else %}
    <p>No notifications found</p>
{% endif %}