{% extends 'base.html' %}
{% load staticfiles %}

{% block extrahead %}
<link href="{% static "global/chosen/public/chosen.css" %}" 		rel="stylesheet">
<link href="{% static "users/css/forms.css" %}"                     rel="stylesheet">
<script src="{% static "global/chosen/public/chosen.jquery.js" %}"></script>
<script src="{% static "projects/js/volunteers.js" %}"></script> 
{% endblock extrahead %}

{% block content %}
<form id="project-form" class="form-horizontal" method="post" action="" enctype="multipart/form-data"> 
	{% csrf_token %}
	<fieldset>
		{% if form.errors %}
		<div class="controls">
			<div class="errors main-errors">Please correct the following fields</div>
		</div>
		{% endif %}
		{% for field in form %}
		<li>{{ field.errors|striptags }}</li>
		{% endfor %}
		{% include 'project_fields.html' %}
		<div class="controls">
			<input type='button' id='submit-button' class="btn btn-success" value="Create Project"
			{% if user.get_profile.user_type != 'Charity'%}
            rel="popover" title="You must log in as a Charity to upload a project" disabled
            {% endif %}
            >
		</div>
		<p id="p_country" class="hidden">{{ user.get_profile.country }}</p>
		<p id="p_state" class="hidden">{{ user.get_profile.state }}</p>
		<p id="p_city" class="hidden">{{ user.get_profile.city }}</p>

		<input type='submit' value="Hidden Submit" style="display: none;">
	</fieldset> 
</form>
</div>
{# <div id='charity-data-url' rel="{% url 'charity-data' %}"></div> #}

{% endblock content %}

{% block extrascripts %}
<script src="{% static "projects/js/chosen-activate.js" %}"></script>
<script src="{% static "users/js/coordinates.js" %}"></script> 
{% endblock extrascripts %}
