{% extends 'base.html' %}
{% load staticfiles %}

{% block extrahead %}
  <script src="{% static "projects/js/requests.js" %}"></script>   
{% endblock extrahead %}
{% block content %}

{% include 'accounts-header.html' %}
    {% for noti in notifications %}
        <div style="border: 2px red solid; margin: 20px;">
        <p> 
          <!-- {# <a href="{{ url 'request-details' pk=noti.request.id }}"></a><br> #} -->
          {% if user.get_profile.user_type == 'Developer' %}
            {{ noti.sender }} has {{ noti.request.status }} your request <br>
          {% else %}
            {{ noti.sender }} has offered to help on {{ noti.request.project.title }}
          {% endif %}
          {{ noti.time_created }} <br>
        </p>
        </div>
    {% endfor %}

{% endblock content %}