{% extends 'base.html' %}
{% load staticfiles %}

{% block extrahead %}
  <script src="{% static "projects/js/requests.js" %}"></script>   
{% endblock extrahead %}
{% block content %}

{% include 'accounts-header.html' %}
    {% for my_request in requests %}
        <div style="border: 2px red solid; margin: 20px;">
        <p> 
          {{ my_request.project }} <br>
          {{ my_request.sender }} <br>
          <a href="mailto:{{ my_request.sender.user.email }}">{{ my_request.sender.user.email }}</a> <br>
          {{ my_request.message }} <br>
          {{ my_request.time_created }} <br>
          {{ my_request.status }}<br>
          <button type="button" class="btn btn-success" 
          onclick="changeStatus('{% url 'respond-to-request' pk=my_request.id status='accepted' %}')" 
          >Accept</button><br>
          <button type="button" class="btn" 
          onclick="changeStatus('{% url 'respond-to-request' pk=my_request.id status='rejected' %}')" 
          >Reject</button>
        </p>
        </div>
    {% endfor %}

{% endblock content %}