{% extends 'base_sidebar.html' %}
{% load staticfiles %}

{% block extrahead_level2 %}
<link rel="stylesheet" href="{% static 'projects/css/help_offers.css' %}">
{% endblock extrahead_level2 %}

{% block sidebar_content %}
{% endblock sidebar_content %}

{% block main_content %}
 <div class="span6 main-content">
 	
{% if user.get_profile.user_type == 'Developer' %}
    {% include "notification_dev.html" %}	
{% else %}
    {% include "notification_charity.html" %}	
{% endif %}
<br>
Go to <a href="{% url 'my-help-offers' pk=user.id %}">my Help Offers</a>{% if user.get_profile.user_type == 'Charity' %}
	to accept or reject the offer.
{% endif %}

{% if user.get_profile.user_type == 'Developer' %}
<br>
<br>
Or go to <a href="{% url 'my-projects' pk=user.id %}">My Projects</a>
{% endif %}

    
 </div>
<script src="{% static "projects/js/delete.js" %}"></script>  
{% endblock main_content %}