{% extends 'base_info.html' %}
{% load staticfiles %}
{% block extrahead_level2 %}
    <link href="{% static "users/css/forms.css" %}"                     rel="stylesheet">
{% endblock extrahead_level2 %}
{% block info_content %}

    {{ project.title }}<br>
    {{ project.country }}<br>
    {% if project.state == 'n/a (Outside of US or Canada)' %}
      {{ project.state }}<br>
    {% endif %}
    {{ project.city }}<br>
    {{ project.description }}<br>

    {% if user.get_profile.user_type == 'Developer' %}
        {% if already_requested %}
            <p>You have already requested to help on this project</p>
        {% else %}
            <form id="request-form" method="post" action=""> <!-- class="form-horizontal" > -->
                {% csrf_token %}
                {{ form.errors }}
                {{ form.message }}<br>
                <div id="remainingC">500 / 500</div>
                <input type="submit" class="btn btn-primary" value="Offer to Volunteer">
            </form>
        {% endif %}
    {% else %}
        <p>Please log in as a Developer and view the project again if you are interested in helping {{ project.charity }}</p>
    {% endif %}

    <!-- script needs to be on the page because it uses a django template variable -->
    <script type="text/javascript">
        $('#id_project').val({{ project.id }});
    </script>
{% endblock info_content %}