{% extends 'base.html' %}
{% load staticfiles %}
{% block extrahead %}
    <link href="{% static "users/css/forms.css" %}"                     rel="stylesheet">
{% endblock extrahead %}
{% block content %}

    {{ project.title }}<br>
    {{ project.country }}<br>
    {% if project.state == 'n/a (Outside of US or Canada)' %}
      {{ project.state }}<br>
    {% endif %}
    {{ project.city }}<br>
    {{ project.description }}<br>

    <form id="request-form" method="post" action=""> <!-- class="form-horizontal" > -->
       	{% csrf_token %}
        {{ form.errors }}
    	{{ form.message }}<br>
    	<input type="submit" class="btn btn-primary" value="Offer to Volunteer">
    </form>

    <!-- script needs to be on the page because it uses a django template variable -->
    <script type="text/javascript">
        $('#id_project').val({{ project.id }});
    </script>


{% endblock content %}