.sidebar {
	overflow: hidden;
	min-height: -webkit-calc(100% - 115px);
	min-height: -moz-calc(100% - 115px);
	min-height: calc(100% - 115px);
	padding-right: 5px;
	box-sizing: border-box;
}

#sidr {
	z-index: 999;
	background-color: rgba(0,0,0,0.9);
	opacity: 0.97;
	width: 50%;
	left: -5000px;
}

#my-menu-toggle {
	margin-top: 10px;
	margin-bottom: 15px;
}

