header {
  width: 100%;
  margin-left: -20px;
}

#navbg-top {
  margin-left: 0px;
}

#fb-buttons, #reg-login{
  box-sizing: border-box;
  padding-top: 10px;
  color: white;
}

#fb-buttons {
  text-align: right;
}

#reg-login{
  /*margin-left: -20px;*/
  text-align: left;
  text-align: right;
}

@media (max-width: 980px) {
  #reg-login {
    display: none;
  }
}

