body {
	background-color: #E6E6E6;
}

.hidden {
  display: none;
}

.main-forms {
	margin-top: 20px;
}

.main-forms {
	margin-top: 20px;
}

.main-content {
	margin-top: 20px;
}

#box-hide {
	position: absolute;
	background-color: white;
	min-height: 10px;
	top: 130;
	z-index: 3;
}

#box-hide-bottom-wrapper {
	position: relative;
}

#box-hide-bottom {
	position: absolute;
	background-color: white;
	min-height: 10px;
	top: -10;
	z-index: 3;
}

#my-wrapper > #body-wrapper {
  	/*padding: -10px 10px -10px 10px;*/
  	box-shadow: 0 0 10px black;
  	margin-bottom: 10px;
  	background-color: #FFFFFF;
  	z-index: 4;
  	padding-bottom: 20px;
  	box-sizing: border-box;
}

#my-wrapper, #my-wrapper > #body-wrapper {
	min-height: -webkit-calc(100% - 180px);
    min-height: -moz-calc(100% - 180px);
	min-height: calc(100% - 180px);
	
}

#my-wrapper {
	margin: 0px 0px 0px 0px;
	padding-top: 0px;
	overflow: hidden;
	position: relative;
  	z-index: 4;
}

#main {
	box-sizing: border-box;
	padding-top: 20px;
}

#what-we-do {
  	box-sizing: border-box;
	padding-left: 15px;
}

#open-projects {
  	box-sizing: border-box;
	padding-right: 15px;
}

.thumbnails {
	text-align: center;
}

.thumbnails > li {
	display: inline-block;
	float: none;
}

#my-footer { 
  	text-align: right;
  	background-color: #FFFFFF;
	height: 40px;
	padding-right: 20px;
  	box-sizing: border-box;
}

#open-projects-header {
	text-align: center;
}	

#more-projects {
	text-align: center;
}	

.hidden {
	display: none;
}

.my-thumbnail-image {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
}

.no-image-wrapper {
	/*position: absolute;*/
	/*margin: 0 auto;*/
}

.mapquest-wrapper {
	font-size: 10px;
  	margin: 50px 15px 0px;
	width:calc(100% - 30px);
}

.mapquest-image-wrapper {
	max-width: 100px;
	position: relative;
}