{% extends 'base_info.html' %}

{% block info_content %}
<h1>The Honking</h1>
<p>And so we say goodbye to our beloved pet, Nibbler, who's gone to a place where I, too, hope one day to go. The toilet. Alright, let's mafia things up a bit. Joey, burn down the ship. Clamps, burn down the crew. Then we'll go with that data file!</p>
<h2>Lethal Inspection</h2>
<p>This is the worst part. The calm before the battle. Anyone who laughs is a communist! Quite possible. We live long and are celebrated poopers.</p>
<h3>Crimes of the Hot</h3>
<p>Stop it, stop it. It's fine. I will 'destroy' you! I guess because my parents keep telling me to be more ladylike. As though! Enough about your promiscuous mother, Hermes! We have bigger problems. What are you hacking off? Is it my torso?! 'It is!' My precious torso! Leela's gonna kill me. Have you ever tried just turning off the TV, sitting down with your children, and hitting them?</p>
<h4>Godfellas</h4>
<p>Morbo will now introduce tonight's candidates&hellip; PUNY HUMAN NUMBER ONE, PUNY HUMAN NUMBER TWO, and Morbo's good friend, Richard Nixon. I'm Santa Claus! Kif might!</p>
<h5>When Aliens Attack</h5>
<p>That's a popular name today. Little "e", big "B"? You guys realize you live in a sewer, right? Bite my shiny metal ass.</p>
{% endblock info_content %}