{% extends 'base_info.html' %}

{% block info_content %}

<h3>Little Bits of Good in a Nutshell</h3>

We at Little Bits of Good believe that technology can change the world into a better, fairer place where every individual is given a chance to a happy life. 
We hope you do as well. Our aim is to provide a platform to accelerate this development. In short, we want to provide a platform where charitable organisations whose IT needs are not being met due to excessive costs or other reasons can meet volunteer software developers who are keen to
donate their time for good causes. If you are a charity, you can find more information on how to find volunteers <a href="{% url 'looking-for-volunteers' %}">here</a>.
If you are a developer, find out more about how you can contribute <a href="{% url 'i-want-to-help' %}">here</a>.

{% endblock info_content %}