{% load staticfiles %}

<html>
<head>

    {% include 'base_head.html' %}
    {% block extrahead %}
    {% endblock extrahead %}

</head>
<body>
    <!-- creates the like-button -->
    {% include 'navbar.html' %}
    <div class="container" id="box-hide-wrapper">
        <div class="container" id="box-hide">
        
        </div>
    </div>
    <!-- These extra divs are needed to create the shadow effect -->
    <div id="my-wrapper">
        <div class="container" id="body-wrapper">          
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <div class="container" id="box-hide-bottom-wrapper">
        <div class="container" id="box-hide-bottom">
        
        </div>
    </div>

    {% include 'footer.html' %}
{% block extrascripts %}
{% endblock %}
</body>
</html>