{% extends 'base.html' %}
{% load staticfiles %}

{% block extrahead_level1 %}
    <link href="{% static "global/css/solo_content.css" %}"             rel="stylesheet" />
{% endblock extrahead_level1 %}

{% block content %}
	<div class="span6 offset3 solo-content">
		{% block redirect_content %}

		{% endblock redirect_content %}	
	</div>
{% endblock content %}

{% block extrascripts %}
<script src="{% static "users/js/delay_redirect.js" %}"></script>
<script src="{% static "global/js/jquery.timer.js" %}"></script>
{% endblock extrascripts %}