{% load staticfiles %}

<html>
<head>

    {% include 'base_head.html' %}
    {% block extrahead_level1 %}
    {% endblock extrahead_level1 %}
    
    {% block extrahead_level2 %}
    {% endblock extrahead_level2 %}
    
    {% block extrahead_level3 %}
    {% endblock extrahead_level3 %}

</head>
<body>
    {% include 'navbar.html' %}
    <div id="fb-app-id" rel="{{ FB_APP_ID }}"></div>
    <div id="site-address" rel='http://{{ SITE_ROOT }}'></div>
    <div id="image-address" rel='http://{{ SITE_ROOT }}/static/global/images/lbog_logo.png'></div>

    {% include 'fbscript.html' %}
    <div class="container" id="box-hide-wrapper">
        <div class="container" id="box-hide">
        
        </div>
    </div>
    <!-- These extra divs are needed to create the shadow effect -->
    <div id="my-wrapper">
        <div class="container" id="body-wrapper">               
            <div id="fb-root"></div>
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    {% include 'footer.html' %}


<script src="{% static "global/js/form_listeners.js" %}"></script>
    
{% block extrascripts %}
{% endblock %}

</body>
</html>