{% load staticfiles %}

{% if not latest_completed %}
	<h2>No projects completed</h2>
{% else %}
<h3 id="completed-projects-header" class="front-page-header">Recently completed projects</h3>
<div id="front-page-carousel" class="carousel slide"><!-- class of slide for animation -->
	<div class="carousel-inner">
		{% for project in latest_completed  %}
			<div class="item{% if forloop.counter == 1 %} active{% endif %}">
				<a href="{% url 'project-details' pk=project.id %}">
					<div class="carousel-image">
						{% if project.image %}
							<img class="my-thumbnail-image" src="/media/{{ project.image }}" alt="" />
						{% else %}
			    	 		<div class="no-image-wrapper">No image available</div>
			    		{% endif %}
					</div>
				</a>
				<div class="carousel-caption">
					<p>{{ project.title }}</p>
				</div>
			</div>	
		{% endfor %}
	</div>
	<a class="carousel-control left" href="#front-page-carousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#front-page-carousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
<div id="find-volunteers"><a href="{% url 'looking-for-volunteers' %}">Click here</a> to find out how you can find volunteers.</div>
{% endif %}