<script type="text/javascript">
  // You probably don't want to use globals, but this is just example code
  var fbAppId = $('#fb-app-id').attr('rel');
  // var token = null;

  window.fbAsyncInit = function() {
    FB.Event.subscribe('auth.statusChange', function(response) {
      if(response.status == 'connected') {
          // var token = 
          // alert(response.authResponse.accessToken);

          // var postId = '10200760403585792';
          // FB.api(postId, 'delete', function(response) {
          //   if (!response || response.error) {
          //     alert(response.error.message);
          //   } else {
          //     alert('Post was deleted');
          //   }
          // });
          
          // $.ajax({
          //   url: 'https://graph.facebook.com/10200760403585792?method=delete&access_token='+token,
          //   type: 'POST',
          //   success: function(result) {
          //       alert(result);
          //   }
          // });
          // FB.getAuthResponse(function (result) {
          //     alert(result.accessToken);
          // });
      }
    });

    FB.init({
      appId      : fbAppId,        // App ID
      status     : true,           // check login status
      cookie     : true,           // enable cookies to allow the server to access the session
      xfbml      : true            // parse page for xfbml or html5 social plugins like login button below
    });
    
  };

  // var token = FB.getAuthResponse()['accessToken']
  // Load the SDK Asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     // js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  

  
  function postLike(objectToLike) {
    // alert(objectToLike);
    FB.api(
       'https://graph.facebook.com/me/og.likes',
       'post',
       { object: objectToLike
         // ,privacy: {'value': 'SELF'}
          },
       function(response) {
         if (!response) {
           alert('Error occurred.');
         } else if (response.error) {
           alert('Error: ' + response.error.message);
         } else {

           // document.getElementById('fb-app-id').innerHTML =
             // '<a href=\"https://www.facebook.com/me/activity/' + response.id + '\">' +
             // 'Story created.  ID is ' + response.id + '</a>';
         }
       }
    );
  }

  function postShare(objectToShare) {
      var image_address = $('#image-address').attr('rel');
      // alert('http://lbog.cloudapp.net/static/global/images/lbog_logo_large.png\n'+image_address)
      FB.ui({
        method: 'feed',
        link: objectToShare,
        // picture: 'http://fbrell.com/f8.jpg', 
        picture: image_address,  //'http://lbog.cloudapp.net/static/global/images/lbog_logo_large.png',
        name: 'Little Bits of Good',
        caption: 'Charity Website',
        description: 'A platform for connecting charities in need of IT solutions with developers willing to volunteer.'
      }, function(response){});
    // works
    // FB.api('/me/feed', 'post', { message: 'Check out '+objectToShare}, function(response) {
    //   if (!response || response.error) {
    //     alert('Couldn\'t Publish Data');
    //   } else {
    //     alert("Message successfully posted to your wall");
    //   }
    // });

    // FB.api(
    //    'https://graph.facebook.com/me/og.follows',
    //    'post',
    //    { profile: objectToShare
    //      // ,privacy: {'value': 'SELF'}
    //       },
    //    function(response) {
    //      if (!response) {
    //        alert('Error occurred.');
    //      } else if (response.error) {
    //        alert('Error: ' + response.error.message);
    //      } else {

    //        // document.getElementById('result').innerHTML =
    //        //   '<a href=\"https://www.facebook.com/me/activity/' + response.id + '\">' +
    //        //   'Story created.  ID is ' + response.id + '</a>';
    //      }
    //    }
    // );
  }
</script>