<div id="footer-wrapper">
    <div class="container footer" id="my-footer">
        <div class="container" id="box-hide-bottom-wrapper">
            <div class="container" id="box-hide-bottom">
            {# covers the padding between the main content and the footer #}
            </div>
        </div>
        <a href="#">Back to Top</a> <b>|</b> 
        <a href="{% url 'feedback' %}">Feedback / Tell us Your Story</a> <b>|</b> 
        <a href="{% url 'about' %}">About Us</a> <b>|</b> 
        <a href="{% url 't-and-c' %}">Terms and Conditions</a> <b>|</b> 
        {# <a href="{% url 'privacy' %}">Privacy and Cookies</a><br> #}
        <!-- <a href="#" 
        onclick="
        window.open(
        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
        'facebook-share-dialog', 
        'width=626,height=436'); 
        return false;">
        Share on Facebook
        </a> -->
    </div>
</div>