<div id="footer-wrapper">
    <div class="container footer" id="my-footer">
        <a href="#">Back to Top</a> <b>|</b> 
        <a href="../Dropbox/about.php">About Us</a> <b>|</b> 
        <a href="../Dropbox/support.php">Support Us</a> <b>|</b> 
        <a href="../Dropbox/contact.php">Feedback / Tell us Your Story</a> <b>|</b> 
        <a href="">Privacy and Cookies</a><br>
        <!-- <a href="#" 
        onclick="
        window.open(
        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
        'facebook-share-dialog', 
        'width=626,height=436'); 
        return false;">
        Share on Facebook
        </a> -->
    </div>
</div>