{% extends 'base_main_pages.html' %}
{% load staticfiles %}

{% block extrahead_level3 %}
    <link href="{% static "global/css/i_want_to_help.css" %}"             rel="stylesheet" />
{% endblock extrahead_level3 %}

{% block sidebar_content %}
    {% include 'search_form_fields.html' %}
{% endblock sidebar_content %}

{% block main_extra_content %}
<div class="span6 main-content" id="tabs">
	<ul class="nav nav-tabs">
     <li id="info-li"><a href="#info-div">What Can You Do To Help</a></li>
     <li id="search-li"><a href="#search-results">Search Results</a></li>
   </ul>
  <div id="info-div">
  	goals here
  </div>
  <div id="search-results">
  	search
  	<!-- filled with ajax -->
  </div>
</div>
  <div id="search-url" rel="{% url "search-projects" %}" ></div> <!-- needed for js -->
  <script src="{% static "global/js/project-search.js" %}"></script>
{% endblock main_extra_content %}