<h3 id="new-projects-header" class="front-page-header">New Projects Still Looking for Volunteers</h3>
{% if not latest_created %}
 	<h2>No projects created</h2>
{% else %}
<div id="thumbs-wrapper">
	<ul class="thumbnails">
		{% for project in latest_created %}
		<li>
			<div class="thumbnail">
				<a href="{% url 'project-details' pk=project.id %}">
					<div class="my-img-thumb">
						{% if project.image %}
								<img class="my-thumbnail-image" src='/media/{{ project.image }}' alt="">
						{% else %}
			    	 		<div class="no-image-wrapper">No image available</div>
			    		{% endif %}
					</div>
				</a>
				<h6 class="front-page-header">{{ project.title }}</h6>
			</div>
		</li>	
		{% endfor %}
	</ul>
</div>
 {% endif %} 
<div id="more-volunteers"><a href="{% url 'i-want-to-help' %}">Click here</a> to find out how you can help.</div>