{% extends 'base_info.html' %}

{% block info_content %}
<h1>Homer the Great</h1>
<p>Get ready, skanks! It's time for the truth train! Inflammable means flammable? What a country. I'm allergic to bee stings. They cause me to, uh, die. Kids, you tried your best and you failed miserably. The lesson is, never try. I'll keep it short and sweet &mdash; Family. Religion. Friendship. These are the three demons you must slay if you wish to succeed in business. Whoa, slow down there, maestro. There's a *New* Mexico?</p>
<h2>Homer: Bad Man</h2>
<p>No children have ever meddled with the Republican Party and lived to tell about it. Whoa, slow down there, maestro. There's a *New* Mexico? Donuts. Is there anything they can't do?</p>
{% endblock info_content %}