{% extends 'base_info.html' %}

{% block info_content %}
<h1>Radioactive Man</h1>
<p>I'm allergic to bee stings. They cause me to, uh, die. Bart, with $10,000 we'd be millionaires! We could buy all kinds of useful things like&hellip;love! The Internet King? I wonder if he could provide faster nudity&hellip; How could you?! Haven't you learned anything from that guy who gives those sermons at church? Captain Whatshisname? We live in a society of laws! Why do you think I took you to all those Police Academy movies? For fun? Well, I didn't hear anybody laughing, did you? Except at that guy who made sound effects. Makes sound effects and laughs. Where was I? Oh yeah! Stay out of my booze. Uh, no, they're saying "Boo-urns, Boo-urns."</p>
<h2>Cape Feare</h2>
<p>Here's to alcohol, the cause of &mdash; and solution to &mdash; all life's problems. Kids, you tried your best and you failed miserably. The lesson is, never try. Can't you people take the law into your own hands? I mean, we can't be policing the entire city! No children have ever meddled with the Republican Party and lived to tell about it. You don't like your job, you don't strike. You go in every day and do it really half-assed. That's the American way.</p>
<h3>Homer the Great</h3>
<p>I've done everything the Bible says &mdash; even the stuff that contradicts the other stuff! Slow down, Bart! My legs don't know how to be as long as yours. Uh, no, you got the wrong number. This is 9-1&hellip;2. Ahoy hoy?</p>
{% endblock info_content %}