{% extends 'base_info.html' %}

{% block info_content %}

<b>Note: the following has been copied from <a href="www.catchafire.org">www.catchafire.org</a>. Names have been left unchanged on purpose to avoid any confusion. Putting together a set of legally valid Terms and Conditions would require legal assistance that was outside the scope of this project.</b><br><br>

<b>Terms of Use</b><br>
These Terms of Use (“Agreement”) constitute a legal agreement between you and Catchafire, Inc., a Delaware corporation (“Catchafire”). By accessing the Catchafire website, currently located at www.catchafire.org (the “Site”), or using any of the Services (as defined below) accessible through the Site, you become a user and agree to, and are bound by, the terms of this Agreement, as amended by Catchafire from time to time.<br><br>

If this Agreement is being entered into by an individual on his or her own behalf, “you” is defined to be that individual person. If this Agreement is being entered on behalf of an organization, such as an employer or nonprofit, “you” is defined to be that organization, and the individual entering this Agreement on behalf of that organization represents and warrants that he or she has the authority to do so on the organization’s behalf. If you do not agree to be bound by this Agreement, do not use the Site or Catchafire services (“Services”).<br><br>

Services consist of the following, without limitation: a service for volunteers (“Volunteer Service”), a service for nonprofits (“Nonprofit Service”), and a service for organizations, entities, associations, or other groups (“Group Service”). Catchafire may offer additional services and revise any of the Services or the Site, at its discretion, and this Agreement will apply to all additional services, revised Services, and the revised Site. Catchafire also reserves the right to cease offering any of the Services or the Site.
<br><br>
This Agreement is subject to modification by Catchafire in its sole discretion at any time. Your continued use of this Site or Services after the posting of revisions to this Agreement will constitute your acceptance of the revisions.

<b>Eligibility</b><br>
Minimum Age. You must be at least 13 years old to use this Site, and at least 18 years old to register for the Services.
Authorization. By registering to use the Nonprofit Service or the Group Service, you represent and warrant that you are an authorized employee or official representative of the registered nonprofit, social enterprise, company, or group. If you are not an authorized employee or official representative, you may not register to use the Nonprofit Service or Group Service.
<br><br>
Continues...

{% endblock info_content %}